iframe.shim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    background-color: #fff;
    opacity: 0.5;
    /* Standard */
    filter: alpha(opacity=50);
    /* For IE */
}

div.overlay {
    z-index: 101;
    border: 1px solid black;
    background-color: #ecc;
    position: absolute;
    left: 100px;
    top: 100px;
}